body {
  background-image: url("imgs/wp8724850.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-fill {
  background-color: aqua;
}

label.user-name {
  background-color: white;
}

label.time-label {
  background-color: white;
}

#message-box {
  margin-top: 20px;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#message-bg {
  height: 85%;
  /* Fallback for browsers do NOT support vh unit */
  height: 85vh;
  /* These two lines are counted as one :-)       */

  margin-top: 7.5%;
  margin-top: 7.5vh;

  width: 85%;
  width: 85vw;

  /* margin-left: 10%;
  margin-left: 5vw; */

  background-color: #DCF3CC;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#input-div {
  margin-top: 10px;
  margin-bottom: 20px;
}
