* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-image: url("imgs/wp8724850.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

textarea {
  resize: none;
}

.bg-fill {
  background-color: aqua;
}

label.user-name {
  background-color: white;
}

label.time-label {
  background-color: white;
}

.user {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.user .name {
  color: #333;
}

.user .text {
  background-color: #aaa;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  position: relative;

  max-width: 70%;
}

.remote .text {
  margin-left: 20px;
  margin-right: 10px;
  color: #000;
  background-color: #fff;
}

.local {
  justify-content: flex-end;
}

.local .text {
  margin-right: 20px;
  margin-left: 80px;
  order: -1;
  background-color: #fff;
  color: #333;
}

.dialogue {
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px #000;
  background-color: #f4f5f7;
  border-radius: 20px;
  margin-bottom: 10px;
}

.msg-time {
  height: 100%;
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
  font-size: x-small;
}

#message-box {
  margin-top: 20px;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;

  height: 100%;
}

#message-bg {
  height: 85%;
  /* Fallback for browsers do NOT support vh unit */
  height: 85vh;
  /* These two lines are counted as one :-)       */

  margin-top: 7.5%;
  margin-top: 7.5vh;

  width: 85%;
  width: 85vw;

  /* margin-left: 10%;
  margin-left: 5vw; */

  background-color: #DCF3CC;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#message-input {
  height: 48px;
  max-height: 160px;
}

#input-div {
  margin-top: 10px;
  margin-bottom: 20px;
}

#send-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#personal-info {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(271deg) brightness(103%) contrast(101%);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 80px;
  width: auto;
}

#info-page {
  display: none;
  position: absolute;
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  background-color: #DDDDDD;
  border-radius: 32px;
  z-index: 100;
  box-shadow: 5px 5px 3px grey;
}

#close {
  right: 0;
  font-size: 300%;
}

#hint {
  font-size: small;
  color: white;
  position: absolute;
  right: 3px;
  bottom: 3px;
  padding: 0px;
  margin: 0px;
}
