body {
  background-image: url("imgs/wp8724850.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-fill {
  background-color: aqua;
}

label.user-name {
  background-color: white;
}

label.time-label {
  background-color: white;
}